<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <appSettings>
    <add key="encKey" value="z0gyrO-UtaD#kDD-eRrc9ptJ+DoSk-NBKl*gKJ6g" />
    <add key="encIv" value="kGaTGA3jRZa2LGKryQzFeMnhqYJ5cvK4cO6auHq" />
  </appSettings>
  

  <connectionStrings>
    <clear />
    <add name="DBConnString"
     providerName="System.Data.SqlClient"
     connectionString="Server=tcp:atm20customer.database.windows.net,1433;Initial Catalog=CustomerDatabase;
     Persist Security Info=False;User ID=atm20team;Password=CS307project;MultipleActiveResultSets=False;
     Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
  
</configuration>